.bg{
    background-color: burlywood;
    color:brown;
}
.bgcon{
    background-image: url("R.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}