ul{
    list-style-type: none;
}
.card{
 
   margin-left: auto;
   margin-right: auto;
   text-align: center; 
}

body{
    background-color: cornflowerblue;
}
#Home h1{
    color:white;
}
.nav-item:hover{
    background-color: cornflowerblue;
 
}
.nav-item{
    font-size: medium;
    font-weight: bold;
    color: white;
}